<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 v-bind:title="message">Todo List</h1>
      <span v-if="seen">Ahora me ves</span>

      <input type="text" v-model="newTask" />

      <button v-on:click="addTask">Agregar</button>
      <ul>
        <todo-item v-for="task in tasks" v-bind:task="task"> </todo-item>
      </ul>
      <span>{{ tasks.length }}</span>
    </div>
    <script src="script.js"></script>
    <script src="todo_items.js"></script>
  </body>
</html>
